// ------------------------------
// Common: Baseline
// ------------------------------

// Notes...

// Title
// ------------------------------

// Notes...

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 1rem; // 16px
	line-height: 1.5625; // 25px
	font-family: var(--font-family-body);
	font-weight: 400;
	color: var(--color-text-body);
	background-color: var(--color-monotone-white);
}

// Block Level
// ------------------------------

// Notes...

h1 {
	// margin: 0 0 0.65rem 0;
	font-size: 3.5rem; // 56px
	line-height: 1.3392857143; // 75px
	font-family: var(--font-family-heading);
	font-weight: 700;
	color: var(--color-text-heading);
}

h2 {
	// margin: 0 0 0.65rem 0;
	font-size: 2.25rem; // 36px
	line-height: 1.3333333333; // 48px
	font-family: var(--font-family-heading);
	font-weight: 700;
	color: var(--color-text-heading);
}

h3 {
	// margin: 0 0 0.65rem 0;
	font-size: 1.375rem; // 22px
	line-height: 1.1363636364; // 25px
	font-family: var(--font-family-body);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.125rem; // 2px
}

h4 {
	// margin: 0 0 0.65rem 0;
	// font-size: 1rem;
	// line-height: calc(2px + 2ex + 2px);
	// font-family: @futura-medium;
	// font-weight: normal;
	// text-transform: uppercase;
}

h5 {
	// margin: 0 0 0.65rem 0;
	// font-size: 0.75rem;
	// line-height: calc(2px + 2ex + 2px);
	// font-family: @futura-medium;
	// font-weight: normal;
	// text-transform: uppercase;
	// word-break: break-word;
	// hyphens: auto;
}

h6 {
	// margin: 0 0 0.65rem 0;
	// font-size: 0.5rem;
	// line-height: calc(2px + 2ex + 2px);
	// font-family: @futura-medium;
	// font-weight: normal;
	// text-transform: uppercase;
	// word-break: break-word;
	// hyphens: auto;
}

p {
	margin: 0 0 0.625rem 0; // 0 0 10px 0
}

ol {

	margin: 1.3125rem 0; // 21px 0
	// padding: 0 0 0 1.5rem;

	li {
		margin: 0 0 0.625rem 0; // 0 0 10px 0
	}

		ol {
			// margin: 0;
		}

}

ul {

	margin: 1.3125rem 0; // 21px 0
	// padding: 0 0 0 1.5rem;

	li {
		margin: 0 0 0.625rem 0; // 0 0 10px 0
	}

		ul {
			// margin: 0;
		}

}

dl {

	// margin: 0 0 1.5rem 0;

	dt {}

	dd {
		// margin: 0 1.5rem 1.5rem 1.5rem;
	}

}

table {

	// width: 100%;
	// margin: 1.5rem 0 0 0;
	// border-collapse: collapse;
	// border-spacing: 0;
	// font-size: 1rem;
	// line-height: 1.5;
	// text-align: center;

	thead {}

	tbody {}

	tfoot {}

		tr {}

			th {
				// padding: 1rem 1rem 1rem 0;
				// text-align: left;
				// border-bottom: 2px solid $color-primary-gray;
			}

			td {
				// padding: 12px 10px 9px 0;
				// border-bottom: 1px solid $color-gray-10;
			}

}

pre {
	// margin: 0 0 1.5rem 0;
	// padding: 1.5rem;
	// font-size: 1rem;
	// line-height: 1.5;
	// font-family: 'Courier New', Courier, monospace;
	// background: lighten($gray, 50%);
	// overflow: auto;
}

article {}

caption {}

figure {
	// max-width: 100%;
	// margin: 0 0 1.5rem 0;
}

	figcaption {
		// margin: 1.5rem 0;
		// text-align: center;
	}

blockquote {

	// margin: 0 0 1.5.rem 0;
	// font-size: 1rem;
	// line-height: 1.5;

	p {

		&:first-of-type {

			&:before {
				// content: "\201C";
			}

		}

		&:last-of-type {

			&:after {
				// content: "\201D";
			}

		}

	}

}

hr {
	height: 0.0625rem;
	// margin: 0 0 1.5rem 0;
	background-color: var(--color-theme-light-blue);
	border: 0;
}

// Inline
// ------------------------------

// Notes...

em,
i {
	// font-style: normal;
}

b,
strong {
	font-weight: 700;
}

cite {
	// @include font-size(16);
	// line-height: 1.5;
}

a {

	color: var(--color-branding-primary);

	&:link {}

	&:hover,
	&:focus {}

}

abbr,
acronym {

	&[title] {
		// border-bottom: 1px dotted $color-gray-30;
		// text-decoration: none;
		// cursor: help;
	}

}

img {
	display: block;
	max-width: 100%;
	height: auto;
	box-sizing: content-box;
}

svg {
	display: block;
	box-sizing: content-box;
}

iframe {
	// display: block;
	// width: 100%;
	// max-width: 100%;
	// box-sizing: content-box;
}

code {
	// font-family: 'Courier New', Courier, monospace;
}

sub {}

sup {}

ins {
	// background: rgb(255, 249, 192);
	// text-decoration: none;
}

mark {}

::-moz-selection {}

::selection {}

// Forms
// ------------------------------

// Notes...

form {}

	fieldset {
		margin: 0;
		padding: 0;
		border: none;
	}

		legend {
			display: block;
			// margin: 0 0 10px 0;
			font-size: 2.25rem; // 36px
			line-height: 1.3333333333; // 48px
			font-family: var(--font-family-heading);
			font-weight: 700;
			text-align: center;
			color: var(--color-text-heading);
		}

		label {
			display: block;
			margin: 0 0 0.375rem 0; // 0 0 6px 0
			cursor: pointer;
		}

		input {

			&[type="text"],
			&[type="search"],
			&[type="email"],
			&[type="tel"],
			&[type="password"] {

				// Override general styles applied to browsers in iOS.

				-webkit-appearance: none;

				display: block;
				width: 100%;
				padding: 0.625rem 1rem; // 10px 16px
				line-height: inherit;
				color: var(--color-text-body);
				background: var(--color-monotone-white);
				border: 0.0625rem solid var(--color-theme-light-blue); // 1px
				border-radius: 0.1875rem; // 3px

				&:active,
				&:focus {

					// border-color: $color-branding-blue;
					// box-shadow: 0 0 1em 0 $color-base-white;
					// background: rgba($color-base-black, 0.10);

				}

			}

			&[type="checkbox"] {

				// position: relative;
				// top: -3px;
				// margin: 0 7px 0 0;

			}

			&[type="radio"] {

				// position: relative;
				// top: -4px;
				// margin: 0 5px 0 0;

			}

		}

		textarea {

			// Override general styles applied to browsers in iOS.

			// -webkit-appearance: none;

			// display: block;
			// width: 100%;
			// max-width: 100%;
			// padding: 0.75em 1em;
			// @include font-size(16);
			// line-height: (20/16);
			// color: $color-base-white;
			// background: transparent;
			// border: 2px solid $color-base-white;
			// border-radius: 8px;
			// outline: none;

			&:active,
			&:focus {

				// border-color: $color-primary-blue;
				// box-shadow: 0 0 1em 0 $color-base-white;
				// background: rgba($color-base-black, 0.10);

			}

		}

		select {

			// Override general styles applied to browsers in iOS.

			// -webkit-appearance: none;

			// display: block;
			// width: 100%;
			// padding: 1em;
			// @include font-size(16);
			// line-height: (20/16);
			// text-transform: uppercase;
			// color: $color-base-black;
			// background: $color-base-white;
			// border: 2px solid $color-base-black;
			// border-radius: 8px;
			// cursor: pointer;
			// outline: none;

			&:active,
			&:focus {

				// border-color: $color-primary-blue;
				// box-shadow: 0 0 5px 0 $color-primary-blue;

			}

		}

		button,
		input[type="button"],
		input[type="submit"] {

			// Override general styles applied to browsers in iOS.

			-webkit-appearance: none;

			display: block;
			// width: 100%;
			padding: 0.625rem 1.4375rem; // 10px 23px
			// @include font-size(18);
			line-height: inherit;
			font-weight: 700;
			text-transform: uppercase;
			color: var(--color-monotone-white);
			background-color: var(--color-branding-primary);
			border: none;
			border-radius: 0.1875rem; // 3px
			cursor: pointer;

			&:active,
			&:focus,
			&:hover {

				// background: $color-secondary-green;

			}

		}
