// ------------------------------
// Common: Utilities
// ------------------------------

// Notes...

.skip-link {

	&:not(:focus):not(:active) {
		position: absolute;
		width: 1px;
		height: 1px;
		clip: rect(0 0 0 0);
		clip-path: inset(100%);
		white-space: nowrap;
		overflow: hidden;
	}

	&:focus,
	&:focus-visible {
		position: fixed;
		left: 0.5rem;
		top: 0.5rem;
		padding: 0.5rem;
		background-color: var(--color-monotone-white);
		border: 0.125rem solid var(--color-branding-primary);
		box-shadow: 0 0.625rem 1.25rem 0 rgba(0, 0, 0, 0.20); // 0 10px 20px 0
		text-decoration: none;
		z-index: 999;
	}

}

.visually-hidden {

	&:not(:focus) {
		position: absolute;
		width: 1px;
		height: auto;
		margin: 0;
		padding: 0;
		border: 0;
		white-space: nowrap;
		clip: rect(0 0 0 0);
		overflow: hidden;
	}

}

// Developer
// ------------------------------

// Notes...

.viewport-size {
	// position: fixed;
	// left: 5px;
	// bottom: 5px;
	// width: auto;
	// padding: 5px 7px;
	// font-size: 12px;
	// line-height: 14px;
	// font-family: Helvetica, Arials, sans-serif;
	// text-transform: uppercase;
	// color: var(--color-monotone-white);
	// background: hsl(267, 100%, 85%);
	// z-index: 9999;
}
