// ------------------------------
// Sections: Overview
// ------------------------------

// Notes...

.section__overview {

	display: flex;
	flex-direction: column;
	// background: var(--color-construction-tertiary);

	@media (min-width: 56.25rem) {
		flex-direction: row;
		gap: 1.25rem; // 20px
	}

	.inner-wrap {}

		.section__header {

			position: relative;
			// background: var(--color-branding-primary);
			padding: 0 1.875rem 0 0; // 0 30px 0 0

			@media (min-width: 56.25rem) {
				padding: 0 1.875rem 5.9375rem 0; // 0 30px 95px 0
			}

			&:after {

				content: "";
				position: absolute;
				left: -5vw;
				bottom: 0;
				width: 100vw;
				height: calc(100% + 0.125rem);
				background: var(--color-branding-primary);
				z-index: -1;

				@media (min-width: 56.25rem) {
					left: calc(100% + 0.625rem);
					height: calc(100% + 1.875rem);
					clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 6.3125rem), 0% 100%);
					transform: translateX(-50vw);
				}

			}

		}

			.section__heading {

				margin: 0 0 1.5rem 0; // 0 0 24px 0
				font-size: 2.25rem; // 36px
				line-height: 1.3333333333; // 48px
				color: var(--color-monotone-white);

				@media (min-width: 56.25rem) {
					font-size: 3.5rem; // 56px
					line-height: 1.3392857143; // 75px
				}

			}

			.section__description {

				margin: 0;
				font-size: 1.25rem; // 20px
				line-height: 1.3; // 26px
				color: var(--color-monotone-white);

				b {
					text-transform: uppercase;
				}

			}

}

	.overview__inner-wrap {

		@media (min-width: 56.25rem) {
			width: 50%
		}

	}

		.overview__details {

			position: relative;
			padding: 1rem 0 0.9375rem 0; // 16px 0 15px 0
			color: var(--color-monotone-white);
			// background-color: var(--color-branding-primary);

			@media (min-width: 56.25rem) {
				position: static;
				padding: 2.75rem 1.875rem 0 0; // 44px 30px 0 0
				color: var(--color-text-body);
			}

			&:after {

				content: "";
				position: absolute;
				top: 0;
				left: -5vw;
				right: -5vw;
				height: 100%;
				background: var(--color-branding-primary);
				// clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 1.5rem), 0% 100%);
				z-index: -1;

				@media (min-width: 56.25rem) {
					content: none;
				}

			}

			p {}

				b {
					text-transform: uppercase;
				}

			ul {

				padding: 0;
				list-style: none;

				&:last-of-type {
					margin-bottom: 0;
				}

			}

				li {

					position: relative;
					padding: 0 0 0 1.4375rem; // 0 0 0 23px

					&::before {

						content: "";
						position: absolute;
						left: 0;
						top: 0.3125rem; // 5px
						width: 17px;
						height: 13px;
						background-image: url(/assets/img/checkmark.svg);
						z-index: 1;

					}

					&:last-of-type {
						margin-bottom: 0;
					}

				}

			a {

				color: var(--color-monotone-white);

				@media (min-width: 56.25rem) {
					color: var(--color-branding-primary);
				}

			}

		}

	.overview__form {

		position: relative;
		padding: 1.25rem 0 0 0; // 20px 0 0 0

		@media (min-width: 56.25rem) {
			position: static;
			width: 50%;
			padding: 0;
		}

		&:after {

			content: "";
			position: absolute;
			top: 0;
			left: -5vw;
			right: -5vw;
			height: 7.25rem; // 116px
			background: var(--color-branding-primary);
			clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 1.5rem), 0% 100%);
			z-index: -1;

			@media (min-width: 56.25rem) {
				content: none;
			}

		}

	}

		.form {

			padding: 2rem 1rem 2rem 1rem; // 32px 1rem 32px 1rem
			border-radius: 0.4375rem; // 7px
			box-shadow: 0 0.625rem 1.25rem 0 rgba(0, 0, 0, 0.20); // 0 10px 20px 0
			background: var(--color-monotone-white);

			@media (min-width: 56.25rem) {
				margin: 0 0 0 1.875rem; // 0 0 0 30px;
				padding: 3.25rem 3rem 3rem 3rem; // 52px 48px 48px 48px
			}

		}

			.form__heading {

				width: 100%;
				margin: 0 0 1.0625rem 0; // 0 0 17px 0
				font-size: 1.375rem; // 22px
				line-height: 1.3636363636; // 30px
				text-align: center;

				@media (min-width: 56.25rem) {
					margin: 0 0 2.75rem 0; // 0 0 44px 0
					font-size: 2.25rem; // 36px
					line-height: 1.3333333333; // 48px
				}

				b {

					display: block;
					font-size: 1.125rem; // 18px
					line-height: 1.4444444444; // 26px
					font-family: var(--font-family-body);
					letter-spacing: 0.239375rem; // 3.83px
					text-transform: uppercase;
					color: var(--color-branding-accent);

					@media (min-width: 56.25rem) {
						font-size: 1.375rem; // 22px
						line-height: 1.3181818182; // 29px
					}

				}

			}

			.form__fieldset {}

				.form__list {
					margin: 0;
					padding: 0;
					list-style: none;
				}

					.form__item {

						margin: 0 0 1.375rem 0; // 0 0 22px 0

						&:last-of-type {
							margin: 0;
						}

					}

						.form__label {}

						.form__input {}

				.form__button {

					display: flex;
					justify-content: center;
					margin: 1rem 0 0 0; // 16px 0 0 0

					@media (min-width: 56.25rem) {
						margin: 1.9375rem 0 0 0; // 31px 0 0 0
					}

				}
